body{
    text-align: center;
    width: 300px;
    background-color: #fcfcfc;
}

.title{
    text-align: center;
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 6px;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
}

.re{
    color: red;
}

.form-control{
    width: 94%; !important;
    text-align: center; !important;
}

.inp{
    margin: 10px; !important
    width: 70%; !important;
}

.sub{
    background-color: red; !important;
    margin: 3px; !important;
    align-self: center; !important;
    border-color: #636b6f;
}

.sub:hover {
    background-color: #ff8c8c;
    border-color: #636b6f;
}