body{
    text-align: center;
    width: 300px;
    background-color: #fafafa;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 18px;
}

.title{
    text-align: center;
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 6px;

}

.menu{
    text-align: left;

}

.logo{
    font-family: 'Pacifico', cursive;
    color: #636b6f;
    cursor: pointer;
}

.re{
    color: red;
}

.form-control{
    text-align: center; !important;
}

.btn-danger{
    background-color: red;
}

p{
    margin: 5px;
}

.auth{
    display: none;
}

.message{
    display: none;
    text-align: left;
    font-size: 14px;
}

.links{
    font-size: 14px;
}

a:visited{
    color: red;
}

a:active{
    color: red; !important;
}

a:hover{
    color: red;
}

a{
    color: red;
}


