<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <!--<meta charset="UTF-8" http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://cdnjs.cloudflare.com ">-->
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="scripts/axios.min.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/cosmo/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css">
</head>
    <body>
        <div class="title">
            <span class="re">Re</span>Minder
        </div>
        <div id="app">
            <input class="form-control inp" v-model="username" placeholder="E-mail">
            <input class="form-control inp" v-model="password" type="password" placeholder="Пароль">
            <input class="btn btn-primary sub" type="submit" v-on:click="login">
        </div>
        <script type="text/javascript" src="scripts/background.js"></script>
    </body>
</html>